[submodule "subjects/MC/Lex-Practica"]
	path = subjects/MC/Lex-Practica
	url = https://github.com/arturo-olvrs/Lex-Practica
[submodule "subjects/ISE/Prácticas/Ejercicio 2"]
	path = subjects/ISE/Prácticas/Ejercicio 2
	url = https://github.com/davidPalomar-ugr/iseP4JMeter
