# Ignorar archivos temporales
**/*~

# Ignorar archivos compilados
**/*.o
**/*.exe

# Ignorar directorios y archivos generados por IDEs
**/.idea/
**/.vscode/
**/cmake-build-debug/

# Ignorar archivo .DS_Store generado por el Finder
**/.DS_Store

# Ignorar proyectos externos a la pagina
**/subjects/projects
