main {
    margin-left: 3rem;
    font-family: Arial, sans-serif;
}

main h1{
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 3rem;
}

main p{
    width: 80%;
    text-align: justify;
}

main .colab-type{
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 2rem;

    margin-top: 2rem;
}


main a{
    color: rgb(195, 127, 0);
}

main a:hover, main em{
    font-weight: bold;
}