body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none; /* Elimina la decoraci贸n de enlace subrayado */
    color: inherit; /* Hereda el color del texto del contenedor padre */
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;

    height:4rem;
}

main{
    margin-top: 4rem;
    margin-bottom: 7rem;
}

header, header ul {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center;
}

header ul li{
    list-style-type: none; /* Esto quita el marcador de lista */
    font-size: 1.2rem;
    font-family: 'Oswald', Arial, sans-serif;
    padding: 0.7rem;
    
    margin-right: 1rem;
    border-radius: 10px; /* Valor de redondeo */
    transition: background-color 0.3s ease, color 0.3s ease; /* Agrega una transici贸n suave */

    text-align: center;
}


header i{
    padding: 1rem;
    font-size: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Agrega una transici贸n suave */
}

header li:hover, header i:hover{
    background-color: rgb(195, 127, 0);
    color: white;
    cursor: pointer;
}

header li:hover{
    padding: 0.7rem;

    border-radius: 10px; /* Valor de redondeo */
    border-bottom: 0px;
}

header .current{
    padding-bottom: 0.2rem;
    margin-bottom: 0.3rem;
    border-radius: 0px; /* Valor de redondeo */
    
    border-bottom: 3px solid rgb(195, 127, 0);

    transition: padding 0.3s ease, border-radius 0.3s ease, border-bottom 0.3s ease; /* Agrega una transici贸n suave */

}




footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;

    font-family: Arial, sans-serif;
    font-size: 0.8rem;
  }


@media only screen and (max-width: 900px){
    footer{
        font-size: 0.5rem;
    }
}