main li{
    list-style-type: none; /* Esto quita el marcador de lista */
    font-size: 1rem;
    width: 100%;
    font-family: 'Oswald', Arial, sans-serif;
}

main .accordeon, li.pdf, li.void{

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


main ul:not(#year-list){
    display: none;
}

#year-list{
    width: 60%;
    display: block;
}

@media only screen and (max-width: 600px){
    #year-list{
        width: 95%;
    }
}

main i{
    text-align: right;
}

main li .pdf, main .folder, main li .void{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    padding-left: 1rem;
    margin-left: 1rem;
}

main .pdf a, main .void i, main .folder i{
    background-color: white;
    color: black;
    padding: 0.5rem 1.2rem;
}

main .pdf a:hover{
    background-color: rgb(195, 127, 0);
    color: white;
}



.accordeon:hover, .pdf i:hover{
    cursor: pointer;
}

.year {
    font-size: 1.5rem;
    border-bottom: 1px solid black;

    padding: 1rem
}

.year-remark, .year:hover{
    color: white;
    background-color: rgb(195, 127, 0);
    transition: background-color 0.3s ease, color 0.3s ease; /* Agrega una transición suave */
}

.subject {
    border-bottom: 1px solid black;
    transition: border-bottom 0.3s ease; /* Agrega una transición suave */
    font-size: 1rem;

    font-family: Arial, sans-serif;

    padding: 1rem
}

.subject-remark, .subject:hover, .folder:hover {
    border-bottom: 3px solid rgb(195, 127, 0);
    transition: border-bottom 0.3s ease; /* Agrega una transición suave */
}

.pdf, .folder {
    border-bottom: 1px dashed black;
    transition: border-bottom 0.3s ease; /* Agrega una transición suave */

    font-family: Arial, sans-serif;
}

main .intro{
    font-family: Arial, sans-serif;

    margin: 0rem 3rem;
    padding-top: 2rem;

    width: 80%;
}

main .intro a{
    color: rgb(195, 127, 0);
}

main .intro a:hover{
    font-weight: bold;
}

main h1{
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}